/* --- OVERLAY DE BOAS-VINDAS --- */
#welcome-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7); /* escurece o fundo */
    backdrop-filter: blur(5px);           /* aplica o desfoque */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    opacity: 1;
    transition: opacity 1s ease;
}

.welcome-message {
    font-size: 40px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    animation: fadeIn 1s ease;
}

/* Animação opcional para suavizar a entrada */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

/* Classe para sumir com o overlay */
#welcome-overlay.hidden {
    opacity: 0;
    pointer-events: none;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}
html {
  scroll-behavior: smooth;
}

header {
    height: 470px;
    width: auto;
    background: linear-gradient(135deg, #9d50bb, #6e48aa, #3498db);

    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 6px 6px black;
    
}

/*Efeitos menu nav*/
nav a {
    position: relative;
    transition: color 0.3s ease;
}
nav a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    left: 0;
    bottom: -5px;
    background-color: white;
    transition: width 0.3s ease;
}

nav a:hover::after {
    width: 100%;
}
ul {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 80px;
    gap: 9rem;
}
li {
    list-style: none;
}
/**/
.botao-download {
    background-color: #ffffff10;
    border: 1px solid white;
    padding: 4px 6px;
    border-radius: 8px;
    transition: all 0.3s ease;
}

.botao-download:hover {
    background-color: white;
    color: #6a04c9;
    cursor: pointer;
}
a {
    text-decoration: none;
    color: white;
    font-size: 17px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
p {
    color: aliceblue;
    margin: 10px 0 0 30px;
    font-size: 50px;
    line-height: 1.2;  /* controla espaçamento entre linhas */
}
.span1 {
    margin-left: 3px;
}
.span2 {
    color: rgb(55, 3, 104);
}
.span3 {
    font-size: 21px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 35px;
    margin-top: 5px; /* menos espaço acima */
    line-height: 1.2;
}
/*--- BOTAO DE VOLTAR*/
.voltar-topo {
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 50px;
    height: 50px;
    background-color: #6e48aa;
    color: white;
    font-size: 24px;
    text-decoration: none;
    border-radius: 50%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

.voltar-topo:hover {
    background-color: #813ca3;
}

/*HEADER*/
main {
    height: auto;
    min-height: 100vh;
    text-align: center;
    padding: 40px;
}

#titulo1 {
    margin: 65px 0 10px 20px;
    color: black;
    
}
.texto1,
.texto2 {
    color: black;
    font-size: 17px;
    margin: 0 400px 0 400px;
}
.titulo2 {
    color: black;
    text-align: center;
    margin: 65px 0 10px 20px;
}
div {
    display: flex;
    flex-direction: row;
    align-items: center;     
    gap: 60px;             
}

.minhafoto {
    height: 350px;
    border-radius: 20px;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.4);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    transform: scale(1.05);
    box-shadow: 0 20px 40px rgba(0,0,0,0.6);
}

.sobreMim {
    display: flex;
    flex-direction: column;
}

/*barra final*/
aside {
    height: 400px;
    background: linear-gradient(135deg, #9d50bb, #6e48aa, #3498db);
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 200px 50px 10px 150px;
    box-shadow: 0px 0px 6px 6px black;   /*deixa a sombra do lado de cima*/
}
.div2 {
    display: flex;
    justify-content: center;
    margin: 0px 200px 0px 200px;
}
.contato-item {
    display: flex;
    align-items: center;
    gap: 1px;
}
.whatsapp {
    height: 50px;
}
.numero {
    font-size: 23px;
    margin-bottom: 15px;
}
.email {
    height: 55px;
    background-color: ;
}
.felipe {
    font-size: 25px;
    margin-bottom: 15px;
}
.acompanhar {
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 29px;
}
.linha {
    width: 60%;  /*largura */
    height: 2px; /* Espessura da linha */
    background-color: rgb(255, 255, 255); /* Cor da linha */
    border: none;       /* Remove a borda padrão */
    margin: 5px auto;
}
.redes {
    display: flex;
    justify-content: center;
    margin: 0px 200px 0px 200px;
    gap: 9rem;
}
.linkedin-logo {
    height: 55px;
    padding: 10px;
}

.github-logo {
    height: 90px;
}
.github-escrita, .LinkedIn-escrita {
    cursor: pointer; /* mostra a mãozinha */
    transition: color 0.3s ease, text-decoration 0.3s ease;
    text-decoration: underline; /* já deixa sublinhado para mostrar que é link */
    color: white; /* cor padrão */
}
.github-escrita:hover, .LinkedIn-escrita:hover {
    color: #6a04c9; /* cor roxa vibrante no hover */
    text-decoration: none; /* remove o sublinhado no hover para efeito visual */
    filter: drop-shadow(0 0 4px #6a04c9); /* sombra roxa leve para destacar */
}
/* Deixa os ícones em branco */
.email, .github-logo, .whatsapp, .linkedin-logo {
    filter: brightness(0) invert(1); /* transforma a imagem em branco */
}


footer {
    color: white;
    background: #6e48aa;
    text-align: center;
    display: flex;
    justify-content: center;
}
.direitos {
    font-size: 15px;
    margin-bottom: 15px;
    
}
a:hover{
    color: rgb(55, 3, 104);
}

@media (max-width: 1200px) {
    .texto1,
    .texto2 {
        margin: 0 20px;
        font-size: 16px;
        text-align: justify;
    }

    /* FOTO E DIV EM COLUNA */
    div {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .minhafoto {
        height: auto;
        max-width: 20%;
        margin: 0 auto;
    }

    /* REDES SOCIAIS EM COLUNA */
    .div2,
    .redes {
        flex-direction: column;
        margin: 0;
        align-items: center;
        gap: 10px;
    }

    .LinkedIn-escrita,
    .github-escrita {
        font-size: 28px;
    }

    .github-logo,
    .linkedin-logo {
        height: 60px;
    }


    /* HEADER TEXTOS AJUSTADOS */

    /* AJUSTES GERAIS */
    main {
        padding: 20px;
    }

    .titulo2 {
        margin: 50px 10px 30px;
    }

    aside {
        height: auto;
        padding: 20px 0;
        grid-template-rows: auto;
    }
}


@media (max-width: 768px) {
    /*--- ajustando bem-vindo ---*/
    .welcome-message {
        font-size: 28px; 
        padding: 0 20px; 
        text-align: center; 
    }

    /*--- NAVBAR EM COLUNA ---*/
    ul {
        flex-direction: row;
        padding: 0;
        margin: 50px 0 96px 0;
        gap: 3rem;
    }
    a {
        margin: 0;
        font-size: 16px;
    }
    /* TEXTOS AJUSTADOS */
    .texto1,
    .texto2 {
        margin: 0 20px;
        font-size: 16px;
        text-align: center;
    }
    /* FOTO E DIV EM COLUNA */
    div {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    .minhafoto {
        height: auto;
        max-width: 20%;
        margin: 50px auto;
    }
    /* REDES SOCIAIS EM COLUNA */
    .div2,
    .redes {
        flex-direction: column;
        margin: 0;
        align-items: center;
        gap: 10px;
    }
    .LinkedIn-escrita,
    .github-escrita {
        font-size: 28px;
    }
    .github-logo,
    .linkedin-logo {
        height: 60px;
    }
    /* HEADER TEXTOS AJUSTADOS */
    header p {
        font-size: 28px;
        margin: 10px;
        text-align: center;
    }
    .span3 {
        font-size: 16px;
        margin: 10px;
        text-align: center;
    }
    /* AJUSTES GERAIS */
    main {
        padding: 20px;
    }
    .titulo2 {
        margin: 50px 10px 30px;
    }
    .numero,
    .felipe {
        margin: auto;
    }
    aside {
        height: auto;
        padding: 20px 0;
        grid-template-rows: auto;
        
    }
}
@media (max-width: 485px) {
    .welcome-message {
        font-size: 20px; /* ainda menor em celulares */
        padding: 0 15px;
    }
    ul {
        flex-direction: row;
        gap: 1rem;
        margin-bottom: 6rem;
    }
    h3 {
        font-size: 20px;
    }
    .texto1,
    .texto2 {
        margin: auto;
        font-size: 16px;
        text-align: center;    /*TEXTO AJUSTADO*/
    }
    .span1,
    .span2 {
        font-size: 2rem;
    
    }
    .span3 {
        font-size: 1rem;
    }
    .div2 {
        margin: auto;
    }
    .direitos {
        margin: auto;
        font-size: 12px;
    }
    .numero,
    .felipe {
        margin: auto;
        font-size: 20px;
    }
    .minhafoto {
        max-width: 30%;
    }
   
}
