body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;

   
}
html {
  scroll-behavior: smooth;
}

header {
    height: 470px;
    width: auto;
    background-color: rgb(106, 4, 201);
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 6px 6px black;
    
}
ul {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 80px;
    gap: 9rem;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    
    color: white;
    font-size: 17px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
p {
    color: aliceblue;
    margin: 10px 0 0 30px;
    font-size: 50px;
    line-height: 1.2;  /* controla espaçamento entre linhas */
}
.span1 {
    margin-left: 3px;
}
.span2 {
    color: rgb(55, 3, 104);
}
.span3 {
    font-size: 21px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 35px;
    margin-top: 5px; /* menos espaço acima */
    line-height: 1.2;
}
/*HEADER*/
main {
    height: auto;
    min-height: 100vh;
    text-align: center;
    padding: 40px;
}
#titulo1 {
    margin: 65px 0 10px 20px;
    color: black;
    
}
.texto1 {
    color: black;
    font-size: 17px;
    margin: 0 400px 0 400px;
}
.titulo2 {
    color: black;
    text-align: center;
    margin: 150px 2px 60px 20px;
}
div {
    display: flex;
    flex-direction: row;  /* Coloca os itens um abaixo do outro */
    align-items: center;     /* Centraliza os itens no centro */
    gap: 60px;              /* Espaçamento entre os elementos */
}
.texto2 {
    color: black;
    font-size: 17px;
    margin: 5px 17px 0px 400px;
}
.minhafoto {
    height: 350px;
    margin-right: 400px;
    border-radius: 20px;
}
/*barra final*/
aside {
    height: 400px;
    background-color: rgb(106, 4, 201);
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 200px 50px 10px 150px;
    box-shadow: 0px 0px 6px 6px black;   /*deixa a sombra do lado de cima*/
}
.div2 {
    display: flex;
    justify-content: center;
    margin: 0px 200px 0px 200px;
}
.contato-item {
    display: flex;
    align-items: center;
    gap: 1px;
}
.whatsapp {
    height: 50px;
}
.numero {
    font-size: 23px;
    margin-bottom: 15px;
}
.email {
    height: 55px;
}
.felipe {
    font-size: 25px;
    margin-bottom: 15px;
}
.acompanhar {
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 29px;
}
.linha {
    width: 60%;  /*largura */
    height: 2px; /* Espessura da linha */
    background-color: rgb(255, 255, 255); /* Cor da linha */
    border: none;       /* Remove a borda padrão */
    margin: 5px auto;
}
.redes {
    display: flex;
    justify-content: center;
    margin: 0px 200px 0px 200px;
    gap: 9rem;
}
.linkedin-logo {
    height: 55px;
}
.LinkedIn-escrita {
    font-size: 36px;
}
.github-logo {
    height: 90px;
}
.github-escrita {
    font-size: 38px;

}
footer {
    color: white;
    background-color: rgb(106, 4, 201);
    text-align: center;
    display: flex;
    justify-content: center;
}
.direitos {
    font-size: 15px;
    margin-bottom: 15px;
    
}
a:hover{
    color: rgb(55, 3, 104);
}

@media (max-width: 1200px) {
    .texto1,
    .texto2 {
        margin: 0 20px;
        font-size: 16px;
        text-align: justify;
    }

    /* FOTO E DIV EM COLUNA */
    div {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .minhafoto {
        height: auto;
        max-width: 20%;
        margin: 0 auto;
    }

    /* REDES SOCIAIS EM COLUNA */
    .div2,
    .redes {
        flex-direction: column;
        margin: 0;
        align-items: center;
        gap: 10px;
    }

    .LinkedIn-escrita,
    .github-escrita {
        font-size: 28px;
    }

    .github-logo,
    .linkedin-logo {
        height: 60px;
    }

    /* HEADER TEXTOS AJUSTADOS */
   

    

    /* AJUSTES GERAIS */
    main {
        padding: 20px;
    }

    .titulo2 {
        margin: 50px 10px 30px;
    }

    aside {
        height: auto;
        padding: 20px 0;
        grid-template-rows: auto;
    }
}


@media (max-width: 768px) {

    /* NAVBAR EM COLUNA */
    ul {
        flex-direction: row;
        padding: 0;
        margin: 50px 0;
        gap: 3rem;
    }
    a {
        margin: 0;
        font-size: 16px;
    }
    /* TEXTOS AJUSTADOS */
    .texto1,
    .texto2 {
        margin: 0 20px;
        font-size: 16px;
        text-align: justify;
    }
    /* FOTO E DIV EM COLUNA */
    div {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    .minhafoto {
        height: auto;
        max-width: 20%;
        margin: 0 auto;
    }
    /* REDES SOCIAIS EM COLUNA */
    .div2,
    .redes {
        flex-direction: column;
        margin: 0;
        align-items: center;
        gap: 10px;
    }
    .LinkedIn-escrita,
    .github-escrita {
        font-size: 28px;
    }
    .github-logo,
    .linkedin-logo {
        height: 60px;
    }
    /* HEADER TEXTOS AJUSTADOS */
    header p {
        font-size: 28px;
        margin: 10px;
        text-align: center;
    }
    .span3 {
        font-size: 16px;
        margin: 10px;
        text-align: center;
    }
    /* AJUSTES GERAIS */
    main {
        padding: 20px;
    }
    .titulo2 {
        margin: 50px 10px 30px;
    }
    .numero,
    .felipe {
        margin: auto;
    }
    aside {
        height: auto;
        padding: 20px 0;
        grid-template-rows: auto;
        
    }
}
@media (max-width: 485px) {
    ul {
        flex-direction: column;
        gap: 1rem;
    }
    h3 {
        font-size: 20px;
    }
    .span1,
    .span2 {
        font-size: 22px;
    }
    .span3 {
        font-size: 10px;
    }
    .div2 {
        margin: auto;
    }
    .direitos {
        margin: auto;
        font-size: 12px;
    }
    .numero,
    .felipe {
        margin: auto;
        font-size: 20px;
    }   
}