body{
    background-color: rgb(37, 6, 6);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #1d002b;
    
 
}

.container {
    background-color: #1d002b;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 70px;
}
a {
    text-decoration: none;  
}
h2 {
    color: black;
}
h2:hover {
    color: rgb(46, 38, 22);
}
.projeto1,
.projeto2,
.projeto3 {
    background-color: rgb(148, 134, 108);
    padding: 17px 24px;
    border-radius: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

/* Efeito visual ao passar o mouse */
.projeto1:hover,
.projeto2:hover,
.projeto3:hover {
    transform: scale(1.05); /* leve zoom */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3); /* sombra suave */
    background-color: #f0e0b0; /* tom um pouco diferente de wheat (opcional) */
}


.voltar {
    
    margin-left: 20px;
   
}
h1 {
    color: wheat;
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h1:hover {
    color: rgb(161, 156, 145);
}
@media (max-width: 610px) {
    .container {
        display: flex;
        flex-direction: column;
    }
}